@model FotoShoutApi.Models.EventOption

@{
    ViewBag.Title = "Index";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/knockout-2.1.0.js"></script>
    <script type="text/javascript" src="~/Scripts/Inc/eventoption.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ko.applyBindings(new EventOptionsViewModel('@ViewBag.ApiUrl'));
        });
    </script>
}

<div class="content-wrapper">
    <div data-bind="if: $root.error">
        <span class="message-error" data-bind="text: $root.error" />
    </div>
    <div data-bind="if: $root.msg">
        <span class="message-success" data-bind="text: $root.msg" />
    </div>
    <div>
        <h3>Add New Event Option</h3>
        <form id="evo-form" data-bind="submit: create">
            <fieldset>
                <legend>Add New Event Option</legend>
                <div>
                    <div class="item-left">Name:</div>
                    @Html.EditorFor(model => model.EventOptionName)
                    @Html.ValidationMessageFor(model => model.EventOptionName)
                </div>

                <div>
                    <div class="item-left">@Html.EditorFor(model => model.SalutationOption)</div>
                    <label class="checkbox-label" for="EventOption_NameOption">Salutation Allowed</label>
                    @Html.ValidationMessageFor(model => model.SalutationOption)
                </div>
                
                <div>
                    <div class="item-left">@Html.EditorFor(model => model.NameOption)</div>
                    <label class="checkbox-label" for="EventOption_NameOption">Name Allowed</label>
                    @Html.ValidationMessageFor(model => model.NameOption)
                </div>

                <div>
                    <div class="item-left">@Html.EditorFor(model => model.EmailOption)</div>
                    <label class="checkbox-label" for="EventOption_EmailOption">Email Allowed</label>
                    @Html.ValidationMessageFor(model => model.EmailOption)
                </div>

                <div>
                    <div class="item-left">@Html.EditorFor(model => model.PhoneOption)</div>
                    <label class="checkbox-label" for="EventOption_PhoneOption">Phone Allowed</label>
                    @Html.ValidationMessageFor(model => model.PhoneOption)
                </div>

                <div>
                    <div class="item-left">@Html.EditorFor(model => model.FaxOption)</div>
                    <label class="checkbox-label" for="EventOption_FaxOption">Fax Allowed</label>
                    @Html.ValidationMessageFor(model => model.FaxOption)
                </div>

                <div>
                    <div class="item-left">@Html.EditorFor(model => model.AddressOption)</div>
                    <label class="checkbox-label" for="EventOption_AddressOption">Address Allowed</label>
                    @Html.ValidationMessageFor(model => model.AddressOption)
                </div>

                <div>
                    <div class="item-left">@Html.EditorFor(model => model.SignatureOption)</div>
                    <label class="checkbox-label" for="EventOption_SignatureOption">Signature Allowed</label>
                    @Html.ValidationMessageFor(model => model.SignatureOption)
                </div>

                <p>
                    <input type="submit" value="Add" />
                </p>
            </fieldset>
        </form>
    </div>
    <div>
        <table>
            <thead>
                <tr class="table-header">
                    <th></th>
                    <th>Salutation</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Fax</th>
                    <th>Address</th>
                    <th>Signature</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: eventOptions">
                <tr class="table-row">
                    <td>
                        <input type="text" data-bind="value: $data.EventOptionName" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.SalutationOption" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.NameOption" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.EmailOption" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.PhoneOption" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.FaxOption" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.AddressOption" />
                    </td>
                    <td>
                        <input type="checkbox" data-bind="checked: $data.SignatureOption" />
                    </td>
                    <td>
                        <input type="button" value="Update" data-bind="click: $root.update" />
                        <input type="button" value="Delete" data-bind="click: $root.delete" />
                    </td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>