@{
    ViewBag.Title = "Events";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.1.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Inc/event.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var baseUri = '@ViewBag.ApiUrl';
            ko.applyBindings(new EventsViewModel(baseUri));
        });

    </script>
}

<div class="content-wrapper">
    <div data-bind="if: $root.error">
        <span id="error-page" data-bind="html: $root.error" />
    </div>
    <div data-bind="if: $root.msg">
        <span class="message-success" data-bind="html: $root.msg" />
    </div>
    <form id="ev-form" data-bind="submit: submitEvent">
        <div id="ev-editor"></div>
    </form>
    <div>
        <h2>Events</h2>
        <table>
            <tr class="table-header">
                <th></th>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Event Date</th>
                <th>Event Location</th>
                <th>Event Folder</th>
                <th></th>
            </tr>

        <!-- ko foreach: events -->
            <tr class="table-row">
                <td>
                    <img data-bind="attr: { src: $data.Thumbnail }" alt="Event Thumbnail"/>
                </td>
                <td>
                    <span data-bind="text: $data.EventName" />
                </td>
                <td>
                    <span data-bind="text: $data.EventDescription" />
                </td>
                <td>
                    <span data-bind="text: $data.EventDate" />
                </td>
                <td>
                    <span data-bind="text: $data.EventLocation" />
                </td>
                <td>
                    <span data-bind="text: $data.EventFolder" />
                </td>
                <td>
                    <input type="button" value="Details" data-bind="click: $root.details" />
                    <input type="button" value="Delete" data-bind="click: $root.delete" />
                    <input type="button" value="Photos" data-bind="click: $root.photos" />
                    <input type="button" value="Processed" data-bind="click: $root.processedPhotos" />
                </td>
            </tr>
        <!-- /ko -->

        </table>
    </div>
</div>