@model FotoShoutData.Models.EventTDO

@if (ViewBag.IsEdit) {
    @Html.HiddenFor(model => model.EventId);
    @Html.HiddenFor(model => model.EventStatus);
}

<div>
    <span class="field-label">@Html.LabelFor(model => model.EventName)<span>&nbsp;*</span></span>
    @if (ViewBag.StartedSubmitting != null && ViewBag.StartedSubmitting) {
        @Html.TextBoxFor(model => model.EventName, new { @readonly="readonly" })
    }
    else {
        @Html.EditorFor(model => model.EventName)
    }
</div>
<div>
    <span class="field-label">@Html.LabelFor(model => model.EventDescription)</span>
    @Html.EditorFor(model => model.EventDescription)
</div>
<div>
    <span class="field-label">@Html.LabelFor(model => model.EventDate)<span>&nbsp;*</span></span>
    @Html.EditorFor(model => model.EventDate)
</div>
<div>
    <span class="field-label">@Html.LabelFor(model => model.EventLocation)</span>
    @Html.EditorFor(model => model.EventLocation)
</div>
<div>
    <span class="field-label">@Html.LabelFor(model => model.EventFolder)<span>&nbsp;*</span></span>
    @if (ViewBag.StartedSubmitting != null && ViewBag.StartedSubmitting) {
        @Html.TextBoxFor(model => model.EventFolder, new { @readonly="readonly" })
    }
    else {
        @Html.EditorFor(model => model.EventFolder)
    }
</div>
<div>
    <span class="field-label">@Html.LabelFor(model => model.PublishAlbum)</span>
    @Html.EditorFor(model => model.PublishAlbum)
</div>
@if (Model != null) {
    <div>
        <span class="field-label">@Html.LabelFor(model => model.EventOptionId)<span>&nbsp;*</span></span>
        <span>@Html.DropDownListFor(model => model.EventOptionId, new SelectList(Model.EventOptions, "EventOptionId", "EventOptionName"), "---Select an option---", new { @class="selection" })</span>
    </div>
    if (Model.EmailTemplates != null) {
        <div>
            <span class="field-label">@Html.LabelFor(model => model.EmailTemplateId)</span>
            <span>@Html.DropDownListFor(model => model.EmailTemplateId, new SelectList(Model.EmailTemplates, "EmailTemplateId", "EmailTemplateName"), "---Select a template---", new { @class="selection" })</span>
        </div>
    }
    if (Model.Sponsors != null) {
        <div style="vertical-align: top;">
            <span class="field-label">@Html.LabelFor(model => model.SponsorIds)</span>
            <span>@Html.ListBoxFor(model => model.SponsorIds, new SelectList(Model.Sponsors, "SponsorId", "SponsorName"), new { @class="selection" })</span>
        </div>
    }
    if (Model.ChannelGroups != null) {
        <div style="vertical-align: top;">
            <span class="field-label">@Html.LabelFor(model => model.ChannelGroupId)</span>
            <span>@Html.DropDownListFor(model => model.ChannelGroupId, new SelectList(Model.ChannelGroups, "ChannelGroupId", "ChannelGroupName"), "---Select a channel group---", new { @class="selection" })</span>
        </div>
    }
}